* {
    margin: 0;
    padding: 0;
    font-family: "Jura";
    scroll-behavior: auto;

}

@font-face {
    font-family: "DaysOne";
    src: url(../font/DaysOne-Regular.ttf);
}

@font-face {
    font-family: "Jura";
    src: url(../font/Jura.ttf);
}

/* Кулибин */
body {
    background: #0A0A12;
    background-image: url(../img/IMG_31751.svg);
    background-size: cover;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    position: fixed;
    background: rgba(22, 22, 22, 0.9);
    width: 100%;
    top: 0;
    left: 0;
    /* box-shadow: 0px 0px 8px 2px #0000fe, 0px 0px 9px 6px #0080ff,
      0px 0px 12px 7px #01ffff; */
    z-index: 5;
    min-height: 100px;
}

.header:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(10, 10, 18, 0.5);
}

.header_wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    padding-top: 15px;
}

.header_logo {
    flex: 0 0 90px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header_logo img {
    max-width: 100%;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header_burger {
    display: none;
    cursor: pointer;
}

.header_list {
    display: flex;
    position: relative;
    z-index: 2;
    width: 100%;
    align-items: end;

}

.header_menu {
    width: 900px;
}

.header_list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
}


.header_link {
    color: #fff;
    /*text-transform: uppercase;*/
    font-size: 20px;
    text-decoration: none;

}

.header_link:hover {
    color: #688DBC;
    text-decoration-line: underline;
}

.messenger_btn {
    border: none;
    height: 50px;
    width: 50px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 100;
    background: no-repeat url("../img/Icon.png");
    background-color: #688dbc;
    background-position: center;
    background-size: 70%;
}

/* Ilya_start */
.formP {
    visibility: visible;
    position: relative;
    z-index: 5;
    display: none;
}

.formBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(28.5px);
}

.window-form {
    position: fixed;
    width: 550px;
    height: 690px;
    max-width: 100%;
    background: linear-gradient(144.89deg,
            rgba(10, 10, 18, 0.7) 0%,
            rgba(58, 77, 105, 0.7) 42.05%,
            rgba(233, 210, 183, 0.7) 100%),
        rgba(10, 10, 18, 0.37);
    backdrop-filter: blur(28.5px);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    flex-direction: row-reverse;
    display: flex;
}

.close-button {
    display: block;
    width: 30px;
    max-width: 100%;
    height: 30px;
    max-height: 100%;
    margin-right: 2%;
    margin-top: 2%;
    background-color: transparent;
    border: none;
    background-image: url("../img/closeut.svg");
    cursor: pointer;
}

form>fieldset {
    padding: 7px 13px;
}

.form-box,
.complete-form-box {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.complete-form-box {
    display: none;
}

.formTitle {
    width: 80%;
    padding-bottom: 2%;
}

.formTitle h1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.formTitle h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-family: "Jura";
}

.QA-forma {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    align-items: center;
}

#checkLabelText {
    text-align: center;
    width: 80%;
}

#checkLabelText input {
    display: inline;
    width: auto;
}

.QA-forma label,
fieldset {
    display: block;
    text-align: left;
    width: 60%;
    height: 10%;
    color: #ffffff;
    border-radius: 10px;
}

.polConfDiv {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

legend {
    display: inline-block;
    margin-left: -1%;
}

.QA-forma input[type="text"],
.QA-forma input[type="email"],
.QA-forma input[type="tel"] {
    display: block;
    width: 100%;
    outline: none;
    height: 100%;
    color: white;
    border: none;
    background-color: transparent;
}

#acceptBtnForm {
    width: 60%;
    height: 15%;
    border: none;
    background: #688dbc;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    transition: all 0.2s;
}

#acceptBtnForm:hover {
    box-shadow: 0px 0px 10px rgb(221, 221, 221);
    cursor: pointer;
}

#acceptBtnForm:active {
    border: none;
    background-color: #626262;
}

#closeBtnFormDiv {
    padding-top: 10%;
    width: 30%;
    height: 10%;
}

#closeBtnForm {
    width: 100%;
    height: 100%;
    border: none;
    background: #688dbc;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    color: white;
}

#closeBtnForm:hover {
    box-shadow: 0px 0px 10px rgb(221, 221, 221);
    cursor: pointer;
}

#closeBtnForm:active {
    border: none;
    background-color: #626262;
}

.polConfDiv {
    background-color: transparent;
    border: none;
    font-family: "Jura";
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

#polConf {
    text-decoration: underline;
    background-color: transparent;
    color: #ffffff;
}

#polConf:hover {
    color: #688DBC;
    text-decoration-line: underline;
}


.messenger_btn:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.messenger_btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
}

.messenger_btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

/* Ilya end */

/* Vikki start */
@font-face {
    font-family: 'Days One';
    src: url(../font/DaysOne-Regular.woff2) format('woff2'),
        url(../font/DaysOne-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.contacts {
    min-height: 44vh;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-content: center;
}

.contacts_link {
    font-family: 'Jura';
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.contacts_title {
    font-family: 'Days One';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
}

.contacts_info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contacts_block {
    display: flex;
}

.contacts_info {
    align-content: space-evenly;
}

.contacts_list {
    list-style-type: none;
    margin-left: 20px;
}

.list_item {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.contacts_icon {
    width: 50px;
    height: auto;
}

.contacts_link:hover {
    color: #688dbc;
    ;
}

@media (max-width: 930px) {
    .contacts_info {
        flex-direction: column;
        width: 50%;
    }

    .contacts_map {
        width: 50%;
        margin-top: 30px;
    }

    .contacts_adaptiv {
        display: flex;
        flex-direction: row;
    }

    .block {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 550px) {
    .contacts_adaptiv {
        flex-direction: column;
    }

    .contacts_info {
        width: 100%;
    }

    .contacts_map {
        width: 100%;
        margin-top: 0;
    }

    .contacts_info {
        height: 200px;
    }
}

@media (max-width: 370px) {
    .contacts_title {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
    }

    .contacts_link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-top: -40px;
    }

    .list_item {
        font-size: 16px;
        line-height: 19px;
    }

    .contacts_icon {
        width: 40px;
        height: 40px;
    }

    .contacts_info {
        height: 200px;
    }
}

/* Vikki end */

/*-----------------------------------------------GALINA START------------------------------------------------------*/
.container_footer {
    margin: 0 auto;
    max-width: 1140px;
}

.footer {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: "Jura";
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 40px;
}

.footer_blocks {
    display: flex;
    justify-content: space-between;
}

.footer__block {
    display: flex;
    height: 40px;
}

.logo {
    height: auto;
    width: 70%;
    padding-bottom: 40px;
    padding-top: 5px;
}

.list {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer___text {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: auto 10px;
}

.policy {
    font-size: 16px;
    line-height: 20px;
    margin: 0px 0px;
}

.footer___text:hover {
    color: #688DBC;
    text-decoration-line: underline;
    box-sizing: border-box;
}

.next:hover {
    text-decoration: none;
    color: white;
    cursor: auto;
}


.footer___img {
    width: 24px;
    height: auto;
}

.telegram_img {
    padding-left: 14px;
}

.vk_img {
    padding-right: 14px;
}


/*-----------------------------------------------GALINA START--------------------------------------*/